### Get Arbitrum whale Transactions in the last 30days

CA: `0x912ce59144191c1204e64559fe8253a0e49e6548`

whale tx volume defined as transactions above 100000 USD

#### imports and config

In [1]:
import os
import requests
import pandas as pd
import joblib
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

#set max width for pandas display
pd.set_option('display.max_colwidth', None)

# Get API key from environment variable
dune_api_key = os.getenv("DUNE_API_KEY")
gecko_api_key = os.getenv("GECKO_API")
# Define data directory
DATA_DIR = "/home/realist/projects/whale-vs-price/database"
os.makedirs(DATA_DIR, exist_ok=True)

#### get dune data from APi

In [2]:
# Define the API endpoint and headers
url = "https://api.dune.com/api/v1/query/5607999/results"

header = {
    "X-Dune-Api-Key": dune_api_key
}

# Make the API request using .get
response = requests.get(url, headers=header)
result = response.json()

# get the result and row key and avoids throwing and error by returning empty data if they don't exist
rows = result.get("result", {}).get("rows", [])

# convert the result to a DataFrame
df = pd.DataFrame(rows, columns= ["date", "amount", "transaction","whales"])

# convert the data types as needed
df = df.astype({ "amount": "float64", "transaction": "int64", "whales": "int64"})

df["date"] = pd.to_datetime(df["date"]).dt.date

df = df.rename(columns = {"date" : "timestamp"})

# display the DataFrame
df.head()

    timestamp        amount  transaction  whales
0  2025-07-10  1.502546e+07           44      27
1  2025-07-11  7.382927e+07          187      89
2  2025-07-12  2.941678e+07           86      40
3  2025-07-13  3.846587e+07           92      40
4  2025-07-14  5.923004e+07          158      67

In [3]:
# define and assign where to save the data
file_path= os.path.join(DATA_DIR, "dune_api_data.joblib")

# save the DataFrame to a joblib file
joblib.dump(df, file_path)

['/home/realist/projects/whale-vs-price/database/dune_api_data.joblib']

In [4]:
# check the saved DataFrame
check = joblib.load(file_path)

check.head(10)

    timestamp        amount  transaction  whales
0  2025-07-10  1.502546e+07           44      27
1  2025-07-11  7.382927e+07          187      89
2  2025-07-12  2.941678e+07           86      40
3  2025-07-13  3.846587e+07           92      40
4  2025-07-14  5.923004e+07          158      67
5  2025-07-15  3.630548e+07          142      58
6  2025-07-16  8.172230e+07          237     109
7  2025-07-17  8.359664e+07          185      90
8  2025-07-18  1.610723e+08          291     109
9  2025-07-19  2.774714e+07          101      47