### Results and Plots

#### Call data from Database, merge and plot

Import and config

In [1]:
import joblib
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#### Load database

In [2]:
# load dune data
save_path = "/home/realist/projects/whale-vs-price/database/dune_api_data.joblib"
df_dune = joblib.load(save_path)

# load coingecko data
file_path = "/home/realist/projects/whale-vs-price/database/coingecko_data.joblib"
df_coingecko = joblib.load(file_path)

print(df_coingecko.head())
print(df_dune.head())

    timestamp     price
0  2025-07-10  0.380202
1  2025-07-11  0.413512
2  2025-07-12  0.399212
3  2025-07-13  0.410277
4  2025-07-14  0.415686
    timestamp        amount  transaction  whales
0  2025-07-10  1.502546e+07           44      27
1  2025-07-11  7.382927e+07          187      89
2  2025-07-12  2.941678e+07           86      40
3  2025-07-13  3.846587e+07           92      40
4  2025-07-14  5.923004e+07          158      67

#### Merge data

In [3]:
df = pd.merge(df_dune, df_coingecko, on= 'timestamp', how= 'inner')

df.head()

    timestamp        amount  transaction  whales     price
0  2025-07-10  1.502546e+07           44      27  0.380202
1  2025-07-11  7.382927e+07          187      89  0.413512
2  2025-07-12  2.941678e+07           86      40  0.399212
3  2025-07-13  3.846587e+07           92      40  0.410277
4  2025-07-14  5.923004e+07          158      67  0.415686